# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files <—commenting out for initial commit pre-launch - should add back once in production.
sites/*/private
