// Global Styles for Twisted Rail


body {
	background: $bgDefault;
	background-attachment: fixed;
	font: $font-body;
	color: $baseColor;
}
a {
	color: $blue;
	text-decoration: none;
}



//  HEADER Styles

.header {
	position: fixed;
	top: 0;
	z-index: 100;
	height: 95px;
	width: 100%;
	overflow: hidden;
	background: $bgDefault;
}

#navigation {
	float:left;
}
#navigation ul:before {
	content: "Go to: ";
	float: left;
	font-weight: bold;
	color: $accentA;
}
#navigation ul {
	height: 95px;
	line-height: 95px;
}
#navigation li {
	margin: 0 10px;
	&:after {
		content: "/";
		padding-left: 20px;
		color: $accentA;
	}
	&:last-child {
		&:after {
			content: "";
			padding-left: 0;
		}
	}
}

#navigation li.first {
	margin: 0 10px 0 30px;
}
#navigation li a {
	color: $baseColor;
}
#navigation li a:hover {
	border-bottom: 4px solid $accentB;
}

.header__logo-image {
	padding: 10px 0;
}
.logo-fade {
	text-align: center;
}

.region-highlighted {
    left: 50%;
    position: relative;
    transform: translate(-50%);
    width: 100vw;
}

.views-row-nid-31 {
    left: 50%;
    position: relative;
    transform: translate(-50%);
    width: 100vw;
    background-color: $baseColor;
    padding: 120px 0;
    background: url("../images/bg_six_beers.jpg") no-repeat transparent;
    background-attachment: fixed;
    background-position: 25% center !important;
}

.views-row-nid-31 .views-field-rendered-entity {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}


.views-row-nid-31 h2, .views-row-nid-31 h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.25em;
}

.views-row-nid-31 h2 {
    font-size: 3.5em;
    color: #e3b722;
    font-weight: 700;
    font-variant: small-caps;
    text-shadow: 0px 1px 3px #000;
}

.views-row-nid-31 h3 {
    font-size: 1.9em;
    color: $white;
    font-weight: 700;
    font-variant: small-caps;
    text-shadow: 0px 1px 3px #333;
}

.logo-fade img {
    padding: 30px 0 5px 0;
    opacity: .8;
}

.front .region-highlighted {
	background: $bgMetal;
}

.sidebars, .bean-location-and-hours {
	font-size: 80%;
}

.slick-track img {
    padding: 10px;
    border: 1px solid $accentA;
}

a.social {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: 99999px;
    overflow: hidden;
    margin-left: 5px;
}

a.social.soc_twitter {
	background-image: url("../images/social/twitter.svg");
}
a.social.soc_fb {
	background-image: url("../images/social/fb.svg");
}
a.social.soc_google {
	background-image: url("../images/social/googleplus.svg");
}


h1, h2, h3, h4, h5, h6 {
	color: $accentA;
	font-family: $font-head;
	font-weight: normal;
}
