// Global Styles for Twisted Rail


body {
	background: $bgDefault;
	background-attachment: fixed;
	font: $font-body;
	color: $baseColor;
}
a {
	color: $blue;
	text-decoration: none;
}



//  HEADER Styles

.header {
	position: fixed;
	top: 0;
	z-index: 100;
	height: 95px;
	width: 100%;
	overflow: hidden;
	background: $bgDefault;
}

#navigation {
	float:left;
}
#navigation ul:before {
	content: "Go to: ";
	float: left;
	font-weight: bold;
	color: $accentA;
}
#navigation ul {
	height: 95px;
	line-height: 95px;
}
#navigation li {
	margin: 0 10px;
	&:after {
		content: "/";
		padding-left: 20px;
		color: $accentA;
	}
	&:last-child {
		&:after {
			content: "";
			padding-left: 0;
		}
	}
}

#navigation li.first {
	margin: 0 10px 0 30px;
}
#navigation li a {
	color: $baseColor;
}
#navigation li a:hover {
	border-bottom: 4px solid $accentB;
}

.header__logo-image {
	padding: 10px 0;
}
.logo-fade {
	text-align: center;
}

.region-highlighted {
    left: 50%;
    position: relative;
    transform: translate(-50%);
    width: calc(100vw - 4rem);
}
.logo-fade img {
    padding: 30px 0 5px 0;
    opacity: .8;
}

.front .region-highlighted {
	background: $bgMetal;
}

.sidebars {
	font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
	color: $accentA;
	font-family: $font-head;
	font-weight: normal;
}
